@tailwind base;
@tailwind components;
@tailwind utilities;

.category-inner-circle {
	width: 95px;
	height: 95px;
	background: #2196f3;
	border-radius: 50%;
	border: 4px solid white;
}



.swiper-pagination-bullets {
	display: none;
}

.customStylerspanelbody .rs-panel-body {
	padding: 0px;
}

